.sidenav {
    background-color: #F2EAEA;
    width: 150px;
}
nav {
    background-color: #F2EAEA;
}
.sidenav li>a, .nav-btn {
    color: #707070;
    font-family: 'Charmonman', cursive;
}
.nav-btn {
    background-color: #f2eaea;
    border: none;
}