* {
  text-align: center;
  color: var(--main-txt-color())
}
button {
    background-color: var(--purple-color);
    color: var(--main-bg-color);
    border-radius: 5px;
    padding: 5px;
}
button:focus {
    background-color: var(--purple-color);
    color: var(--main-bg-color);
}
:root {
    --main-bg-color: #F2EAEA;
    --main-txt-color: #707070;
    --purple-color: #A278BB 
}